/*General stuff*/
body {

    background-color: #59cbda;
    color: aliceblue;
    font-family: Tahoma, sans-serif;
}

article {
    border: 0.5vh solid #00477d50;
    padding: 1vh;
    margin: 1vh;
}

article,img {
    height: 20vw;
    display: flex;
    border-radius: 3vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

#buy {
    padding: 1vh;
    border-radius: 10vh;
    border-color: #00000000;
    background-color: #00000050;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#buy:hover {
    background-color: #53535350;
    scale: 105%;
    cursor: pointer;
}

#shopping-cart{
    height: 5vh;
    border-radius: 0;
}

#stretch {
    width: 100%;
}